.photo {
    width: 180;
    height: 190;
    border-radius: 15px 50px;
    vertical-align: middle;
    margin-left: 200px;
    margin-right: 160px;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    position: relative;
}

.badges {
    float: right;
    align-items:center;
    display: flex;
    justify-content: flex-end;
}

.badge {
    padding: 3px;
}

.badge:hover + .reference {
    display: block;
    border: 2px solid black;
    padding: 4px;
    color: white;
    background-color: grey;
    border-radius: 5px;
}

.badge_square {
    width: 120px;
    height: 120px;
}

.reference {
    display: none;
}

h1 {
    font-family: monospace;
    font-size: 40;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    }
